@model SugarBItApplication2.Models.Companys

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div>

    <div><input type="submit" value="Save" class="btn btn-default" /></div>
    <div><input type="submit" value="cancel" class="btn btn-default" /></div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


